<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="osm.mapnotes">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".MapNotesApplication"
        android:allowBackup="true"
        android:icon="@drawable/round_navigation_white_48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_navigation_white_48"
        android:supportsRtl="true"
        android:theme="@style/MainActivityTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPreferencesActivity"
            android:label="@string/preferences"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TilePreferencesActivity"
            android:label="@string/tile_preferences"
            android:parentActivityName=".MainPreferencesActivity"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>